.auth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;  /* vertically centers */
  background-color: #87ceeb; /* sky blue */
  height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  padding: 0 20px;
}


.app-title {
  color: white;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
   
}

.auth-card {
  display: flex;
  width: 700px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.auth-left,
.auth-right {
  width: 50%;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-left {
  background-color: #20c997;
  color: white;
  justify-content: center;
}

.auth-left h1 {
  margin-bottom: 10px;
}

.auth-left button {
  margin-top: 20px;
  background: white;
  color: #20c997;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}

.auth-right h2 {
  margin-bottom: 20px;
}

.auth-right form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.auth-right input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.auth-right button[type="submit"] {
  background-color: #20c997;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 10px;
}

.toggle-btn {
  background: none;
  border: none;
  margin-top: 15px;
  color: #20c997;
  cursor: pointer;
  font-weight: 500;
}
